@{
    ViewBag.Title = "About Us";
}

<h2>Application to the Program</h2>
<p>@ViewBag.Message</p>

<br />
<h4>BYU Students</h4>

<p>
    You may apply to the Information Systems program if you have completed or are enrolled in all of the Pre-Information Systems Core courses. 
    The Information Systems application deadline is the last business day of June by 4:30 p.m. (MST) to commence study in fall semester. 
    Students are notified of admission decisions approximately three weeks after each application deadline. The Information Systems program 
    begins only in the fall semester of each year. Application to the program is done online and can be
    accessed at the link below.
</p><br />

<p><a href="https://marriottschool.byu.edu/apply/bsis/">Online Application</a></p>

<br />
<p>
    The online application consists of verifying and entering Pre-Information Systems Core course grades, writing a 500-word essay,
    and attaching a current resume.
</p>
<p>
    After submitting your application, you will receive notification of the acceptance committee's decision within one month of the last
    working day of June (i.e. the application submission deadline). You may use the same application link found above to check the decision
    status of your application.
</p>

<br />
<h4>Transfer Students</h4>
<p>
    Transfer students from another university or institution must be formally admitted to BYU before being eligible to apply to the Information
    Systems program. Prerequisite courses should be completed at BYU to be competitive for admission.  For further information, please contact
    the Information Systems Academic Advisor by e-mail at is.advisor@byu.edu, or by phone at 801-422-5602.
</p>