@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BYU Information Systems</h1>
    <p class="lead">If you want to work for one of these companies, then IS is the program for you!</p>
    <img src="~/Content/Images/facebook.png" height="180" width="180" />
    <img src="~/Content/Images/google.png" height="180" width="180" />
    <img src="~/Content/Images/linkedin.png" height="180" width="180" />
    <img src="~/Content/Images/apple.png" height="180" width="180" />
    <img src="~/Content/Images/microsoft.png" height="180" width="180" />
</div>

<h2>Here are potential career paths you can take with a degree in Information Systems</h2>

<div class="row">
    <div class="col-md-4">
        <h3>Business Intelligence</h3>
        <p>- Interacting with data to make it useful for the organization to make decisions</p>
        <p>- Analyze trends and make predictions</p>
    </div>
    <div class="col-md-4">
        <h3>Enterprise Infrastructure</h3>
        <p>- Responsible for the hardware of an organization</p>
        <p>- Ensure continuous network connectivity and improve performance</p>
    </div>
    <div class="col-md-4">
        <h3>Interaction Design/User Experience</h3>
        <p>- Understand how a user works within your system</p>
        <p>- Design processes to make tasks as easy as possible for users</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Project Management</h3>
        <p>- Lead teams of developers to ensure that a project meets the proper requirements and stays on schedule</p>
        <p>- Manage the resources of a team to ensure the success of the project</p>
    </div>
    <div class="col-md-4">
        <h3>Product Management</h3>
        <p>- Responsible for a particular product a company provides</p>
        <p>- Work with customers to verify that the product meets their needs correctly</p>
    </div>
    <div class="col-md-4">
        <h3>Quality assurance</h3>
        <p>- Ensure that the products your company provides are stable and perform their intended functions correctly</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Security Analysis</h3>
        <p>- Protect assets and data for the organization</p>
        <p>- Conduct penetration testing to test durability of data security</p>
    </div>
    <div class="col-md-4">
        <h3>Software Development</h3>
        <p>- One of the most technical positions for IS majors</p>
        <p>- Focused on coding in a variety of languages to build useful applications</p>
        <p>- C++, Java, Python, and more</p>
    </div>
    <div class="col-md-4">
        <h3>Web Development</h3>
        <p>- Develop web applications for consumer or internal use</p>
        <p>- HTML, CSS, JS, C#, ASP.NET, and more</p>
    </div>
</div>