
@{
    ViewBag.Title = "Index";
}

@*<ol class="breadcrumb">
    <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="breadcrumb-item active">Degrees</li>
</ol>

<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary">@Html.ActionLink("BSIS", "Degrees", "Degree", new { id = "BSIS" }, null)</button>
    <button type="button" class="btn btn-secondary">@Html.ActionLink("MISM", "Degrees", "Degree", new { id = "MISM" }, null)</button>
</div>*@


<h1>Our Threefold Mission</h1>
<h4>EDUCATION</h4>
<p>To attract, develop, and place men and women of faith, character, and professional ability who will become outstanding leaders capable of dealing with change in a competitive global environment.</p>

<h4>SCHOLARSHIP</h4>
<p>Advance knowledge using strong conceptual and spiritual foundations to identify and solve management problems.</p>

<h4>SERVICE</h4>
<p>
    Serve in academic, professional, and civil organizations, extending the benefits of management education and scholarship to the university,
    to members of The Church of Jesus Christ of Latter-day Saints, and to the world.
</p>

<br />
<h1>School</h1>
<p>
    Recognized around the world as one of the best places to hire graduates with high ethical standards, BYU believes that development
    of character is the highest aim of education. An emphasis on strong moral and spiritual values along with essential management
    skills prepares graduates to join a dynamic global workforce.
</p>

<h4>The Marriott School:</h4>

<p>Became the School of Management in 1975</p>
<p>Was named for Marriott Corporation founders J. Willard and Alice S. Marriott in 1988</p>
<p>
    Is housed in the N. Eldon Tanner Building, a seven-story, 220,000-square foot, granite building located on the BYU campus in Provo, Utah.
    The building was expanded in 2008 to accommodate a growing number of business students
</p>
<h4>Students</h4>
<p>Approximately 2,100 undergraduate students and nearly 1,200 graduate students are enrolled in the Marriott School.</p>
<p>Approximately 62% of the students are bilingual and many have lived abroad.</p>
<p>The school enrolls approximately 8 percent international students.</p>
<p>
    Students have access to three centers that allow them to gain an added edge: the Whitmore Global Management Center, the Rollins Center
    for Entrepreneurship and Technology, and the Ballard Center for Economic Self-Reliance.
</p>

<br />
<h1>Degrees</h1>
<h4>UNDERGRADUATE DEGREES</h4>
<p>BS Management</p>
<small>Minor in Management</small>
<small>Minor in Strategy</small>
<p>BS Accountancy</p>
<p>BS Information Systems</p>
<p>BS Recreation Management</p>
<small>Minor in Nonprofit Management</small>
<p>BS Finance</p>
<h4>GRADUATE PROGRAMS</h4>
<p>Master of Business Administration</p>
<p>Executive Master of Business Administration</p>
<p>Master of Public Administration</p>
<p>Executive Master of Public Administration</p>
<p>Master of Accountancy</p>
<p>Master of Information System Management</p>
<p>Master of Science — Youth and Family Recreation</p>

<br />
<h1>Faculty</h1>
<p>The school has 136 full-time faculty and 61 adjunct, part-time or visiting faculty. More than 90 percent of full-time faculty has PhDs.</p>
<p>Many of the faculty are recognized experts and have served as president or chair of professional organizations such as:</p>
<p>American Accounting Association — Kevin D. Stocks</p>
<p>American Academy of Management — David A. Whetten</p>
<p>American Taxation Association — Robert L. Gardner</p>
<p>National Task Force on Telecommunications Taxation — Gary C. Cornia</p>
<p>Association of Certified Fraud Examiners — W. Steve Albrecht</p>

<br />
<h1>Alumni</h1>
<p>The school has nearly 52,000 alumni.</p>
<p>Roughly 1,000 alumni actively mentor students each year through the school's mentor program.</p>
<p>More than 500 alumni and friends are involved with the school's National Advisory Council and program-specific advisory boards.</p>
<p>
    The BYU Management Society links together managers, executives, lawyers, accountants, bankers, investors, and other professionals. Committed
    to growing moral and ethical leadership around the world, this organization is dedicated to lifelong learning, service, networking, and
    supporting BYU.
</p>